<div  ng-controller="AnActionController as ctrl">

  <div class="panel panel-default">
     <div style="margin-top: 10px;  height:40px;width:200px;float:right;">
		<button type="button" ng-click="ctrl.executionAction(ctrl.key)" class="btn btn-success custom-width">Execute</button>
	</div>

    
    <div class="panel-heading"><span class="lead">please input keys</span></div>
    <div>
    	<textarea  rows=10 style="margin-left: 22px; word-break:break-all; overflow:auto; width:100%; height:expression((this.scrollHeight>150)?'150px':(this.scrollHeight+5)+'px');overflow:auto;"  ng-model="ctrl.key" id="check" ng-trim="false"></textarea>    
 	</div>
 	<br/>
 	<br/>
 	   <div class="panel-heading"><span class="lead">result</span></div>
 	
 	<div>
    	<textarea readonly rows=30 style="margin-left: 22px; word-break:break-all; overflow:auto; width:100%; height:expression((this.scrollHeight>150)?'150px':(this.scrollHeight+5)+'px');overflow:auto;"  ng-model="ctrl.entryPoints" id="check" ng-trim="false"></textarea>    
 	</div>
  </div>
</div>