<div  ng-controller="AnActionController as ctrl">

  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">The definition of the Action.</span></div>
    
  </div>
  <div class="panel panel-default">
     <div style="margin-top: 10px;  height:40px;width:200px;float:right;">
		<button type="button" ng-click="ctrl.executionAction()" class="btn btn-success custom-width">Execute</button>
	</div>
    <div class="panel-heading"><span class="lead">Overview</span></div>

    <div class="tablecontainer">
      <table class="table table-hover">
        <tr>
          <th>id</th>
          <td>{{ctrl.actions[0].id}}</td>
        </tr>
        <tr>
          <th>uid</th>
          <td>{{ctrl.actions[0].uid}}</td>
        </tr>
        <tr>
          <th>ref</th>
          <td>{{ctrl.actions[0].ref}}</td>
        </tr>
        <tr>
          <th>pack</th>
          <td>{{ctrl.actions[0].pack}}</td>
        </tr>
        <tr>
          <th>name</th>
          <td>{{ctrl.actions[0].name}}</td>
        </tr>
        <tr>
          <th>description</th>
          <td>{{ctrl.actions[0].description}}</td>
        </tr>
        <tr>
          <th>enabled</th>
          <td>{{ctrl.actions[0].enabled}}</td>
        </tr>
        <tr>
          <th>entry_point</th>
          <td>{{ctrl.actions[0].entry_point}}</td>
        </tr>
        <tr>
          <th>runner_type</th>
          <td>{{ctrl.actions[0].runner_type}}</td>
        </tr>
        <tr>
          <th>parameters</th>
          <td>{{ctrl.actions[0].parameters}}</td>
        </tr>
        <tr>
          <th>metadata_file</th>
          <td>{{ctrl.actions[0].metadata_file}}</td>
        </tr>
        <tr>
          <th>notify</th>
          <td>{{ctrl.actions[0].notify}}</td>
        </tr>
        <tr>
          <th>output_schema</th>
          <td>{{ctrl.actions[0].output_schema}}</td>
        </tr>
        <tr>
          <th>tags</th>
          <td>{{ctrl.actions[0].tags}}</td>
        </tr>

      </table>

    </div>
    
    <div class="panel-heading"><span class="lead">Details</span></div>
    <div>
    	<textarea readonly rows=30 style="margin-left: 22px; word-break:break-all; overflow:auto; width:100%; height:expression((this.scrollHeight>150)?'150px':(this.scrollHeight+5)+'px');overflow:auto;"  ng-model="ctrl.entryPoints" id="check" ng-trim="false"></textarea>    
 	</div>
  </div>
</div>